/* GLOBAL STYLES */

body {
	background-color: #fff;
}

code {
    font-size: 1.1em;
    font-weight: bold;
}

/* WRAPPER */

.wrapper {
    width: 948px;
    margin: 0 auto;
}

/* HEADER */

.header {
    border: 3px double gray;
    margin-bottom: 20px;
    background-color: #dedede;
    padding: 10px;
}

/* NAVIGATION */

.menu {
    background-color: silver;
    border: 1px solid gray;
    
}

.nav-menu{
    padding-top: 1px;
    padding-bottom: 1px;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: flex-start    

}

.nav-item {
    color: black;
    text-decoration: none;
    padding: 18px;
    
}

.nav-item:hover {
    background-color: gray;
    color:white;
}

.current-cite {
    background-color: gray;
    color:white;
}

/* MAIN */

.main-content {
    border: 3px double gray;
    background-color: #dedede;
    padding: 10px;

}